/* Satrt General Style */
body {
    position: relative;
    Font-size: 16px;
    background-image: url(../images/background.png);
    color: #FFF;
    background-color: hsl(0, 100%, 74%) ;
    font-family: 'Poppins', sans-serif;
}
<<<<<<< HEAD

.container {
    padding: 50px;
}

/*End General Style  */

/* Satart Register */
.register {
    height: 100vh;
    display: flex;
    align-items: center;
}

.register .header {
    margin: auto;
}
     

.register h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
}

.register p {
    padding-top: 10px;
}

.register .try-it-free {
    background-color: hsl(248, 32%, 49%);
    border-color: hsl(248, 32%, 49%);
    box-shadow: 0 6px 0 rgb(0, 0, 0, 0.1);
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
}

.register .try-it-free  span {
    font-weight: 100;
    opacity: 0.7;
}

.form_register {
    border: 1px solid #FFF;
    margin-top: 25px;
    padding: 40px;
    background-color: #FFF;
    border-radius: 10px;
}

.form_register input {
    padding: 25px;
    font-size: 13px;
    font-weight: 700;
}

.form_register input:focus {
    border: 1px solid #888;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
}

.form_register button {
    font-size: 14px;
    background-color: hsl(154, 59%, 51%);
    border-color: hsl(154, 59%, 51%);
    box-shadow: 0 -3px rgb(0, 0, 0, 0.1) inset;
    padding: 15px;
    font-weight: 600;
    color: #f7f5f5;
    margin-bottom: 7px;
    letter-spacing: 1px;
}

.form_register span {
    color: #b7b4b4;
    font-weight: 900;
    font-size: 10px;
}

.form_register span span {
    color: hsl(0, 100%, 74%);
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    background-image: url(../images/icon-error.svg);
}

.invalid-feedback {
    text-align: right;
}
/* End Register */

/* Staert Footer */
p.attribution {
    text-align: center;
}
/* End Footer */

/* Start esponsive */
@media (max-width: 576px) {
    .register .try-it-free-sm {
        padding: 15px 30px;
        font-size: 13px
    }

    .register .header-sm {
        text-align: center;
    }

    .register .header-sm h1 {
        font-size: 1.5rem;
        line-height: 35px;
    }

    .register .header-sm p {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .register .header-sm {
        text-align: center;
    }
}
/* Start esponsive */
>>>>>>> 5ebfce204264d0d212bad577d0d361993180693a
